/* CSS crunched with Crunch - http://crunchapp.net/ */
*{font-family:Microsoft Yahei;font-size:13px;overflow:display;margin:0;padding:0;text-decoration:none;}
.clear{clear:both;}
.shadowBorder{-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);box-shadow:0 0 10px rgba(0, 0, 0, 0.1);}
.login_box{width:220px;height:400px;margin:0 auto;margin-top:250px;}
.login_title{text-align:center;font-size:18px;font-weight:bold;}
.bg{background:#ffffff url('../image/header.png') repeat-x top;}
.main{margin:0 auto;width:960px;}
.main_top{width:100%;height:116px;}.main_top h1{font-size:30px;color:white;position:relative;top:28px;}
.main_top div{width:100%;}
.main_top a{display:block;font-size:16px;color:white;position:relative;top:40px;}
.a_left{float:left;}
.a_right{float:right;}
.main_body{background-color:white;-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);box-shadow:0 0 10px rgba(0, 0, 0, 0.1);min-height:728px;padding:10px;}
.main_left{width:220px;float:left;left:0;}
.main_right{width:718px;float:right;}
.adminPages{width:100%;border:none;}
.listTable{width:100%;border-bottom:1px solid #49a1e5;border-right:1px solid #49a1e5;-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);box-shadow:0 0 10px rgba(0, 0, 0, 0.1);}.listTable tr{line-height:26px;}
.listTable tbody tr td,.listTable thead tr th{border-top:1px solid #49a1e5;border-left:1px solid #49a1e5;padding:0 0.5em;}
