@lightBlue:#4EA6EA;
@tableBorder:1px solid @lightBlue - 5;
*{
    font-family:Microsoft Yahei;
    font-size:13px;
    overflow:display;
    margin:0;
	padding:0;
	text-decoration:none;
}
//通用类定义
.clear{
    clear:both;
}
.shadowBorder{
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*login.jsp*/
.login_box{
    width:220px;
	height:400px;
	margin:0 auto;
	margin-top:250px;
}
.login_title{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
/*main.jsp*/
.bg{
  background: white url('../image/header.png') repeat-x top;
}
.main{
	margin:0 auto;
	width:960px;
}
.main_top{
	width:100%;
	height:116px;
	h1{
        font-size:30px;
        color:white;
    	position:relative;
    	top:28px;
	}
    div{
            width:100%;
    }
    a{
        display:block;
    	font-size:16px;
    	color:white;
    	position:relative;
    	top:40px;
    }
}
.a_left{
	float:left;
}
.a_right{
	float:right;
}
.main_body{
	background-color:white;
	.shadowBorder;
  	min-height:728px;
  	padding:10px;
}
.main_left{
	width:220px;
	float:left;
	left:0;
}
.main_right{
	width:718px;
	float:right;
}
.adminPages{
	width:100%;
	border:none;
}
/*listCategory.jsp*/
.listTable{
	width:100%;
	border-bottom:@tableBorder;
	border-right:@tableBorder;
    .shadowBorder;
    tr{
        line-height:26px;    
    }
    tbody tr td,thead tr th{
        border-top:@tableBorder;
        border-left:@tableBorder;
    	padding:0 0.5em;
    }
}