<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 配置各控制反转 -->
		<!-- ====================
		Category相关 ============-->
		<bean id="categoryDAO" class="dao.imp.CategoryDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory"/>
			</property>
		</bean>
		<bean id="categoryDAOProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="categoryDAO"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		<bean id="categoryService" class="service.imp.CategoryService">
			<property name="categoryDAO">
				<ref local="categoryDAOProxy"/>
			</property>
		</bean>
		<bean id="categoryServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="categoryService"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		
		<!-- ===================
		Option相关 =============-->
		<bean id="optionDAO" class="dao.imp.OptionDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory"/>
			</property>
		</bean>
		<bean id="optionDAOProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="optionDAO"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		<bean id="optionService" class="service.imp.OptionService">
			<property name="optionDAO">
				<ref local="optionDAOProxy"/>
			</property>
		</bean>
		<bean id="optionServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="optionService"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		
		<!-- ====================
		Product相关 ============-->
		<bean id="productDAO" class="dao.imp.ProductDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory"/>
			</property>
		</bean>
		<bean id="productDAOProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="productDAO"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		<bean id="productService" class="service.imp.ProductService">
			<property name="productDAO">
				<ref local="productDAOProxy"/>
			</property>
			<property name="categoryDAO">
				<ref local="categoryDAOProxy"/>
			</property>
			<property name="productmetaDAO">
				<ref local="productmetaDAOProxy"/>
			</property>
		</bean>
		<bean id="productServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="productService"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		
		<!-- ====================
		Productmeta相关 ============-->
		<bean id="productmetaDAO" class="dao.imp.ProductmetaDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory"/>
			</property>
		</bean>
		<bean id="productmetaDAOProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="productmetaDAO"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
		<bean id="productmetaService" class="service.imp.ProductmetaService">
			<property name="productDAO">
				<ref local="productDAOProxy"/>
			</property>
			<property name="productmetaDAO">
				<ref local="productmetaDAOProxy"/>
			</property>
		</bean>
		<bean id="productmetaServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
			<property name="transactionManager">
				<ref bean="transactionManager"/>
			</property>
			<property name="target">
				<ref local="productmetaService"/>
			</property>
			<property name="transactionAttributes">
				<props>
					<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
				</props>
			</property>
		</bean>
</beans>