<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 配置后台管理Action相关的bean -->
	<bean id="admin" class="action.Admin">
		<property name="optionService">
			<ref bean="optionServiceProxy"/>
		</property>
		<property name="categoryService">
			<ref bean="categoryServiceProxy"/>
		</property>
	</bean>
	<bean id="productAction" class="action.ProductAction">
		<property name="productService">
			<ref bean="productServiceProxy"/>
		</property>
		<property name="categoryService">
			<ref bean="categoryServiceProxy"/>
		</property>
		<property name="productmetaService">
			<ref bean="productmetaServiceProxy"/>
		</property>
	</bean>
</beans>