<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 配置切面类
	<aop:aspectj-autoproxy />
	<bean id="aspectBean" class="commons.AspectBean"/> -->
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/haole?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root"/>
		<property name="password" value=""/>
	</bean>
	<!-- Hibernate的SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<!-- 指定刚才配置好的数据源 -->
			<ref local="dataSource"/>
		</property>
		<property name="mappingResources">
			<!-- 指出所有hbm映射文件的位置 -->
			<list>
				<value>domain/Category.hbm.xml</value>
				<value>domain/Product.hbm.xml</value>
				<value>domain/Block.hbm.xml</value>
				<value>domain/Productmeta.hbm.xml</value>
				<value>domain/Option.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<!-- 填写Hibernate的属性项 -->
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
				<prop key="hibernate.autoReconnect">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<!-- 指定刚才配置好的sessionFactory -->
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<!-- 配置前台Action相关的bean -->
	<bean id="qCategory" class="action.QCategory">
		<property name="categoryService">
			<ref bean="categoryServiceProxy"/>
		</property>
	</bean>
</beans>